@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");

@font-face {
    font-family: "Trebuchet MS";
    font-style: normal;
    font-weight: normal;
    src: local("Trebuchet MS"), url("./fonts/trebuc.woff") format("woff");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding: 0 0.7rem;
}

.featured {
    color: #ff0000;
}

.important {
    color: #fab837;
    font-family: "Sedgwick Ave", cursive;
    font-size: 24px;
}

.left {
    text-align: left;
    max-width: 570px;
    margin: 0 auto;
}

.no-p {
    padding: 0;
}

.top {
    padding-top: 30px;
    background: #171717;
    color: #fff;
}

.underline {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.space {
    gap: 20px;
}

.first {
    background: #000000;
    padding-top: 1.2rem;
    border-radius: 15px 15px 0px 0px;
}

.flex-1 {
    flex: 1;
}

.no-margin {
    margin: 0 0 2rem 0;
}

.center {
    text-align: center;
}

.section {
    max-width: 356px;
    font-size: 26px;
    line-height: 1;
}

.notice {
    background: #f60303;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
    color: #ffffff;
    margin: 0 0 1.2rem 0;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.image {
    width: 70%;
    border-style: solid;
    border-width: 4px;
    border-color: #ff0000;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 0.4rem;
}

.dark {
    background: #000000;
    color: #ffffff;
    text-align: center;
}

.announce {
    padding: 3rem 1rem 2rem 1rem;
    border-radius: 0 0 15px 15px;
    background: #ad0f0e;
    font-family: "Trebuchet MS", sans-serif;
    transition: all 0.7s ease;
}

#announce {
    transition: all 0.7s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.question {
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 1rem;
}

.q {
    margin-top: 0;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.2rem;
    row-gap: 0.6rem;
}

.btn {
    outline: none;
    border: none;
    font-family: "Trebuchet MS", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    background: #fab837;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 0px 8px -1px rgb(0 0 0 / 50%);
    padding: 18px 100px 18px 100px;
    cursor: pointer;
}

.btn:hover {
    text-decoration: underline;
}

.copy {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    padding: 3rem 0;
    margin: 0;
}

.t {
    font-size: 26px;
    line-height: 26px;
}

@media (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .section {
        max-width: 100%;
    }

    .notice {
        font-size: 26px;
    }

    .space {
        gap: 16px;
    }

    .no-margin {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .q {
        font-size: 17px;
    }

    .t {
        font-size: 24px;
    }

    .left {
        text-align: center;
        font-size: 14px;
        margin-bottom: 1rem;
    }
}
